# dependencies
node_modules/
.pnpm-store/

# build output
.next/
out/
dist/
.turbo/

# env
.env
.env*.local
.env.local

# misc
.DS_Store
*.log
npm-debug.log*
.vercel
*.tsbuildinfo
next-env.d.ts

# sanity
apps/web/.sanity/
dist
